<!-- <navigation></navigation>
<div class = "container">

   <h4>Please upload your work</h4>

  <button ngf-select="uploadFiles($files)" multiple
          accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'">Select Files</button>
  <br>
  <br>Files:
  <ul>
      <li ng-repeat="f in files" style="font:smaller">
          {{f.name}}
      </li>
  </ul>
  <span class="progress" ng-show="progress >= 0">
      <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
  </span>
  {{errorMsg}}

<div class="row">
  <span class="results" ng-show="result">
    {{result}}
  </span>
</div>


  <div class="row">
    <a href="/file/view" target="_blank" >View File</a>
  </div>


</div> -->
